<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Printed Sides List <a mat-button class="pull-right" (click)="createPrintedsides()"><i class="material-icons">create</i> New</a> </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" *ngIf="printedsides">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Subcategory
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let printed of printedsides">
                                        <td>
                                            {{ printed.id }}
                                        </td>
                                        <td>
                                            {{ printed.name }}
                                        </td>
                                        <td>
                                            {{ printed.category }}
                                        </td>
                                        <td>
                                            {{ printed.subcategory }}
                                        </td>
                                        <td>
                                            <a mat-raised-button (click)=editPrintedsides(printed) class="btn-outline-primary"><i class="material-icons">edit_note</i></a>
                                            <a mat-raised-button (click)="deletePrintedsides(printed.id)" class="btn-outline-danger"><i class="material-icons">clear</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  