<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Unfolded Size List <a mat-button class="pull-right" (click)="createUnfoldedsize()"><i class="material-icons">create</i> New</a> </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" *ngIf="unfoldedsize">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Subcategory
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let unfolded of unfoldedsize">
                                        <td>
                                            {{ unfolded.id }}
                                        </td>
                                        <td>
                                            {{ unfolded.name }}
                                        </td>
                                        <td>
                                            {{ unfolded.category }}
                                        </td>
                                        <td>
                                            {{ unfolded.subcategory }}
                                        </td>
                                        <td>
                                            <a mat-raised-button (click)=editUnfoldedsize(unfolded) class="btn-outline-primary"><i class="material-icons">edit_note</i></a>
                                            <a mat-raised-button (click)="deleteUnfoldedsize(unfolded.id)" class="btn-outline-danger"><i class="material-icons">clear</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  