<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Product Options List
                            <a mat-button class="pull-right" (click)="createProductoption()"><i
                                    class="material-icons">create</i> New</a>
                            <a mat-button class="pull-right" (click)="uploadProductoption()"><i
                                    class="material-icons">upload</i> Upload</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" *ngIf="productoptions">
                                <thead class="text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Product ID
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let productoption of productoptions">
                                        <td>
                                            {{ productoption.id }}
                                        </td>
                                        <td>
                                            {{ productoption.p_id }} - {{ productoption.product_type }}
                                        </td>
                                        <td>
                                            {{ productoption.product_id }}
                                        </td>
                                        <td>
                                            <a mat-raised-button (click)=editProductoption(productoption)
                                                class="btn-outline-primary"><i class="material-icons">edit_note</i></a>
                                            <a mat-raised-button (click)="deleteProductoption(productoption.id)"
                                                class="btn-outline-danger"><i class="material-icons">clear</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>