<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngIf="user_data">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Users List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of user_data; index as i">
                                        <td>
                                            {{ user.id }}
                                        </td>
                                        <td>
                                            <img class="user-profile-min" src="{{ user.image }}">
                                            {{ user.first_name }} {{ user.last_name }}
                                        </td>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                        <td>
                                            <a href="#" mat-raised-button><i class="material-icons">edit_note</i></a>
                                            <a href="#" mat-raised-button><i class="material-icons">clear</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  